body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  overflow: auto;
}

.container {
  width: 80%;
  margin: auto;
  overflow: auto;
}

.pagination {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.pagination button {
  background-color: #3498db;
  color: white;
  border: none;
  padding: 10px 15px;
  margin: 0 5px;
  border-radius: 5px;
  cursor: pointer;
}

.pagination button:hover {
  background-color: #2980b9;
}

.pagination .disabled {
  background-color: #bdc3c7;
  cursor: not-allowed;
}

.main-layout {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.search-icon {
  position: absolute;
  top: 14%;
  left: 190px;
  transform: translateY(-50%);
  font-size: 1.2rem;
  color: #888;
  pointer-events: none;
}
